<p>downloads works!</p>

<a (click)="downloadFile(file_name,path)"><span
    class="actn-btn">
    <i class="far fa-link"></i></span></a>
</div>    
    <!-- downloadFile(file_name,'') >> download is function that hold two paramaeter 
    one is file name whos come from api or variable. another one is may be blank or 
    you choice location -->


    <!-- file_name = here you write file name which came from may be api 
         or variable whos hold the link of the image file and video file with anchor tag -->